form{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.input-container label{
    font-size: .9rem;
    opacity: .6;
    padding-right: 5px;
}

.input-container{
    /* width: 40%; */
    margin-bottom: 10px;
}




